
<h1><%= @user.closet.name %></h1>
<h2>Here are your choices </h2>
<% @user.closet.garments.each do |garment| %>
<div class= "garment">
<% garment_url = garment.garment_url %>
<% image_url = garment.background_url %>
<%= link_to image_tag(image_url), garment_url %>
</div>
<% end %>


